<footer *ngIf="showFooter" class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>ABOUT US</h4>
                <ul>
                    <li><a href="#">Technotrust Solutions is a leading provider of Cloud Computing and co-location services. We have a wide range of experience in delivering these services to businesses of all sizes.</a></li>
                    
                </ul>
            </div>
            <div class="footer-col">
                <h4>USEFUL LINKS</h4>
                <ul>
                    <li><a href="#">What We Do</a></li>
                    <li><a href="#">Reach Us</a></li>
                    <li><a href="#">Cloud Services</a></li>
                    <li><a href="#">Data Center Co-Location</a></li>
                    <li><a href="#">Career</a></li>
                </ul>
            </div>
      
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>