@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
  }
  
  @keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
  }
  
  .elementor-widget-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  }
  
  .text-container {
    flex: 1;
    animation: slideInFromLeft 1s ease-out forwards;
    margin-left: 5%;
  
  }
  
  .image-container {
    flex: 1;
    animation: slideInFromRight 1s ease-out forwards;
    margin-left: 20%;
 
  }
  .description {
    
    text-align: center;
  }
  .button {
    padding: 10px 20px;
    background-color: #6f7172;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #0f0f0f;
    color: white;
  }
  .btn {
    margin-top: 10%;
    padding: 15px 20px;
    background-color: #6f7172;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  width: 30%;
 
    box-sizing: border-box;
}

.btn:hover {
    background-color: #0f0f0f;
    color: white;
  }

  .description3 {
    margin-top: 4%;
    text-align: center;
   
    font-weight: bold;
}

.description4 {
    margin-top: 4%;
    text-align: center;
   color: rgb(11, 11, 141);
    font-weight: bold;
}




.single-how-works{
    margin-left: 2%;
    text-align: center;
    padding:20px 40px;
    border-radius: 3px;
    box-shadow: 0 0px 5px rgba(71,71,71,.2);
    margin-bottom: 30px;
    -webkit-transition: .3s linear; 
    -moz-transition:.3s linear; 
    -ms-transition:.3s linear; 
    -o-transition:.3s linear;
    transition: .3s linear;
  }
  
  .single-how-works-icon {
    display: inline-block;
    color: #50616c;
    width: 80px;
    height: 80px;
    line-height: 80px;
    background: #eef2f6;
    border-radius: 50%;
  }
  .single-how-works h2 a {
    font-size:  18px;
    margin: 35px 0 20px;
  }
  .single-how-works h2 a span {text-transform:  lowercase;}
  .single-how-works p {margin-bottom: 25px;text-transform: initial;}
  
  .single-how-works-icon [class^="flaticon-"]:before,.single-how-works-icon [class*=" flaticon-"]:before,.single-how-works-icon [class^="flaticon-"]:after,.single-how-works-icon [class*=" flaticon-"]:after {font-size: 35px;}
  .single-how-works:hover .single-how-works-icon [class^="flaticon-"]:before,.single-how-works:hover .single-how-works-icon [class*=" flaticon-"]:before,.single-how-works:hover .single-how-works-icon [class^="flaticon-"]:after,.single-how-works:hover .single-how-works-icon [class*=" flaticon-"]:after {color:#ff545a;}

  
  .welcome-hero-btn.how-work-btn {
    display: inline-block;
    margin: 0;
    width: 100px;
    height: 35px;
    font-size: 12px;
    background: transparent;
    color: #767f86;
    border: 1px solid #d3d6d9;
    border-radius: 3px;
  }
  
  .single-how-works:hover h2 a,.single-how-works:hover p{color: #fff;}
  .single-how-works:hover .single-how-works-icon{background: #fff;}
  .single-how-works:hover .welcome-hero-btn.how-work-btn{background: #fff;color: #caa6a7;}
  .single-how-works:hover{box-shadow: 0 0px 10px rgba(71,71,71,.4);background: #24262b6b;}
  
  .single-how-works {
    
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer les éléments horizontalement */
    text-align: center; /* Centrer le texte */
  }
  
  .single-how-works-image {
    margin-bottom: 10px; /* Espacement entre l'image et le texte */
  }
  .row {
    display: flex;
    flex-wrap: wrap;
}

.col-md-4 {
    flex: 1 0 50%; /* Two columns per row for medium devices */
    max-width: 50%;
}

@media (max-width: 768px) {
    .col-md-4 {
        flex: 1 0 100%; /* One column per row for small devices */
        max-width: 100%;
    }
}


.elementor-widget-container1 {
  display: flex;
  align-items: center;
  
}
