<div class="elementor-widget-container" style="background-color: #4169e141;" >
   
    <div class="text-container">
        <h4 class="elementor-heading-title elementor-size-default ">Microsoft Gold Partner</h4>

        <h3 class="elementor-heading-title elementor-size-default">Microsoft helps you run your enterprise. And Technotrust helps you automate it.</h3><br>
        <p>Transform how your team works with innovative office apps, intelligent cloud services, and world-class security.</p>
        <button  class="button pulse-button"style="margin-left: 25%;margin-top: 5%; ">Contact Us now</button>
    </div>
    <div class="image-container">
        <img fetchpriority="high" decoding="async" width="612" height="500" src="../../assets/mic.png">
    </div>
</div>




<div class="elementor-widget-container" >
    <div class="flex-container">
        <div class="image-container2">
            <img fetchpriority="high" decoding="async" width="512" height="459" src="../../assets/micro.png">
        </div>
        <div class="text-container2">
           
            <p><strong>Technotrust Solutions</strong> have partnership with Gold Microsoft Partner, which is a company needs to meet certain criteria, such as having a certain number of Microsoft-certified professionals, demonstrating a track record of successful customer deployments, and meeting revenue targets. Gold Microsoft Partners have access to a range of benefits, including training and support from Microsoft, early access to new products and technologies, and co-marketing opportunities. These benefits help partners to better serve their customers and differentiate themselves in the market. Overall, being a Gold Microsoft Partner is a sign of a company’s commitment to providing high-quality solutions and services using Microsoft technologies.</p>
        </div>
    </div>
</div>

<div class="works-content">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="single-how-works">
                <i><img src="../../assets/s1.png" style=" width: 80px; border-radius: 20px; margin-left: 3%;"/></i><br><br><br>
               
                <h4>Microsoft Azure</h4>
                <p>
                    Turn your ideas into reliable apps at scale and bring them to market faster with Microsoft Azure solutions.
                </p>
                
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="single-how-works">
                <i><img src="../../assets/s2.png" style=" width: 80px; border-radius: 20px; margin-left: 3%;"/></i>
                <h4>Microsoft Dynamics 365</h4>
                <p>
                    Solve challenges by unifying your customers and business with Microsoft Dynamics 365,a modern,cloud-based ERP and CRM platform.We assist with implementing Dynamics 365 Finance,Dynamics 365 for Retail and more.
                </p>
                
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="single-how-works">
                <i><img src="../../assets/s3.png" style=" width: 80px; border-radius: 20px; margin-left: 3%;"/></i><br><br><br>
                <h4>Microsoft Office 365</h4>
                <p>
                    
                    Foster collaboration and productivity across the enterprise by leveraging the office apps of Microsoft 365, the world’s leading cloud-based productivity solution.
                </p>
                
            </div>
        </div>


    
        
        
        <div class="elementor-widget-container" >
           
            <div class="text-container">
                <h4 class="elementor-heading-title elementor-size-default" style="color: blue;">
                   <strong> Technotrust Solutions is the top Microsoft partner for retailers</strong></h4>
                <p>At Technotrust Solutions, we solve tough business challenges – not just those related to a company’s technology stack – by leveraging our unmatched retail, manufacturing and distribution experience. We approach every project by first understanding the unique challenges of the business and industry to ensure a successful go-live every time.

                    Additionally, there isn’t a Microsoft challenge we can’t solve. Our premier support arrangement with Microsoft offers our clients access to Microsoft for issues that require a direct line to the software publisher. We pride ourselves on being more than a technology implementer; at enVista, we strive to be a trusted Microsoft business solutions advisor for our clients.</p>
            </div>
            <div class="image-container">
                <img width="512" height="400" src="../../assets/pc1.png" frameborder="0" allowfullscreen>
            </div>
            </div>
        

            <div class="elementor-widget-container" style="background-color: #87dceb;" >
   
                <div class="text-container">
                    <h4 class="elementor-heading-title elementor-size-default ">We’re Among the Top 1% Of Microsoft Partners Worldwide</h4><br>
            
                    <p><strong>Gold Competency</strong> is the ultimate certification and signifies an even higher level of proficiency and proven expertise in specialized skillsets in offering Microsoft technology services and consulting.

                        Through continued annual reviews Microsoft recognizes Gold Partners for offering innovative business solutions. So, you can be assured that your organization’s business transformation is in the best hands.</p>
                    <button  class="button pulse-button"style="margin-left: 10%;margin-top: 5%; ">Contact Us now</button>
                </div>
                <div class="image-container">
                    <img fetchpriority="high" decoding="async" width="612" height="500" src="../../assets/fille.png">
                </div>
            </div>
         


            <div class="description" style="color: #4f36df; margin-top:3% ;">
                <h2><strong>What we do?</strong></h2>
            </div>



            <div class="elementor-widget-container"  >
   
                <div class="text-container">
                    <h4 class="elementor-heading-title elementor-size-default " style="margin-bottom: 3%;">We’re Among the Top 1% Of Microsoft Partners Worldwide</h4><br>
            
                    <p>Microsoft keeps developing and advancing its technology solutions constantly. Thus, a Microsoft Partner is always up to date on the very latest Microsoft offerings and advancements.

                        EPC Group not only knows the products and technologies better, but we also know how best to apply it to your specific requirements.</p>
         
                </div>
                <div class="image-container">
                    <img fetchpriority="high" decoding="async" width="612" height="500" src="../../assets/24.png" style="margin-top: 10%;">
                </div>
            </div>
         
            <div class="elementor-widget-container" >
                <div class="flex-container">
                    <div class="image-container2">
                        <img fetchpriority="high" decoding="async" width="512" height="459" src="../../assets/25.png">
                    </div>
                    <div class="text-container2">
                        <h4 class="elementor-heading-title elementor-size-default " style="margin-bottom: 3%;"><strong>We Meet Rigorous Certification Standards</strong></h4>
                        <p>Microsoft certification is an ongoing process. It requires the Partner to constantly stay up to date. An organization and its employees need to undergo continued annual reviews. A Microsoft Partner is only certified until the next anniversary date.

                            So, the customer can be confident that the people working on the project know the technology inside and out. Moreover, EPC Group experts know how to get the most out of it to meet your needs.</p>
                    </div>
                </div>
            </div>