<div class="elementor-widget-container" style="background-color: #245fac88;" >
   
    <div class="text-container">
        <h4 class="elementor-heading-title elementor-size-default ">Microsoft Gold Partner</h4>

        <h3 class="elementor-heading-title elementor-size-default">Microsoft helps you run your enterprise. And Technotrust helps you automate it.</h3><br>
        <p>Transform how your team works with innovative office apps, intelligent cloud services, and world-class security.</p>
        <button  class="button pulse-button"style="margin-left: 25%;margin-top: 5%; ">Contact Us now</button>
    </div>
    <div class="image-container">
        <img fetchpriority="high" decoding="async" width="612" height="500" src="../../assets/meri.png" >
    </div>
</div>

<div class="elementor-widget-container" >
    <div class="flex-container">
        <div class="image-container2">
            <img fetchpriority="high" decoding="async" width="512" height="459" src="../../assets/erito.png">
        </div>
        <div class="text-container2">
            <h4 class="elementor-heading-title elementor-size-default " style="color: #000080;">Meritotech</h4>
            <p>Meritotech Inc. based in Toronto, Canada has potentially talented, dedicated, and creative professionals who are extremely committed to their client’s success. They are certified and understand the business and digital transformation needed to meet the strategic goals of their clients.Our major focus is on right strategy, structure, process and technologies that transform business anticipating to the needed speed towards opportunity and help our clients overcoming our challenges.</p>
        </div>
    </div>
</div>
<div class="description">
    <h1><strong>Our Services</strong></h1>
</div>

<div class="description1">
    <p>Discover our range of consulting services in business performance improvement and IT integration.

    </p>
</div>

<div class="elementor-widget-container" >
    <div class="flex-container">
        <div class="image-container2">
            <img fetchpriority="high" decoding="async" width="512" height="459" src="../../assets/doura.png" style="margin-top: 15%;">
        </div>
        <div class="text-container2">
          
            <p><strong>SAP PROJECT MANAGEMENT</strong></p>
            <p>PMP and SAP Activate certified professionals following latest SAP implementation methodology.</p>
            <p><strong>SAP MOBILE SERVICES</strong></p>
            <p>Application Analytics – usage statistics that can be displayed graphically in Mobile Services cockpit</p>
            <p><strong>SAP MANAGED SERVICES</strong></p>
            <p>Optimize ROI on your SAP applications as we take care of the back-end complexities of your enterprise.</p>
            <p><strong>SAP MIGRATION SERVICES</strong></p>
            <p>SAP Migration services spin around important changes to the hardware, software, and cloud / physical location of the SAP landscape.</p>
        </div>
    </div>
</div>


<div class="description2">
    <h2>Provide Awesome Solution With Our Tools</h2>
</div>

<div class="works-content" style="background-color: #7878791e;">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="single-how-works">
                <img src="../../assets/s1.png" style="width: 80px; border-radius: 20px; margin-left: 3%;" class="single-how-works-image">
                <h2><strong>SAP BUSINESS ONE</strong></h2>
<p>
    SAP Business One is an integrated suite of business management applications designed specifically for a company with up to 100 employees and 10 users.
</p>        
    </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="single-how-works">
                <img src="../../assets/s2.png" style="width: 80px; border-radius: 20px; margin-left: 3%;" class="single-how-works-image">
                <h2><strong>SAP S/4 HANA</strong></h2>
                <p>The SAP S/4HANA Cloud is an enterprise resource planning (ERP) system with built-in intelligent technologies including AI and machine learning.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="single-how-works">
                <img src="../../assets/s3.png" style="width: 80px; border-radius: 20px; margin-left: 3%;" class="single-how-works-image">
                <h2><strong>SAP BTP</strong></h2>
                <p>SAP BTP is a software platform that provides users with intelligent enterprise applications, databases, and data management capabilities.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="single-how-works">
                <img src="../../assets/s4.png" style="width: 80px; border-radius: 20px; margin-left: 3%;" class="single-how-works-image">
                <h2><strong>SAP ECC</strong></h2>
                <p>SAP’s legacy system, SAP ERP Central Component (ECC) is a versatile platform that can be customized to fit any industry.</p>
            </div>
        </div>
    </div>
</div>


<div class="description2">
    <h2>Know more about Meritotech.</h2>
</div>

<div class="description4" style="margin-left: 10%; margin-right: 10%; margin-top: 2%; color: rgb(22, 13, 105);">
    <h3><strong>Meritotech Inc. a leading provider of enterprise software solution focused on SAP Projects for implementation, consulting, enhancement and support</strong></h3>
</div>
    <div style="margin-left: 10%; margin-right: 10%; margin-top: 2%; " >
                
        <p>
            We believe that understanding each client needs is essential to provide quality service. <br><br>

Meritotech Inc. based in Toronto, Canada has potentially talented, dedicated, and creative professionals who are extremely committed to their client’s success. They are certified and understand the business and digital transformation needed to meet the strategic goals of their clients.Our major focus is on right strategy, structure, process and technologies that transform business anticipating to the needed speed towards opportunity and help our clients overcoming our challenges. <br><br>

The experienced professional at Meritotech takes the time to understand your business, your approach, and enriches your user experience. Whether you know exactly what you want or would like informative and innovative guidance, our experienced professionals will work with business and client, every step of the way. Meritotech is deeply committed and will not stop until all needs have been addressed towards customer satisfaction.</p>
        
    

</div>
