
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">


<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">



<div class="sidebar">
  <div class="sidebar-header">
    <h3 class="brand">
      <span class="ti-unlink"></span>
      <span>Dashbord</span>
    </h3>
  
  </div>
  <div class="sidebar-menu">
        <ul>
         
            <li>
              <a routerLink="/dashbord">
                   <span class="ti-home"></span>
                    <span>Home</span> 
                </a>
          </li>
              <li>
              <a routerLink="/manage-user">
                   <span class="ti-face-smile"></span>
                    <span>manage user</span> 
                </a>
          </li>

          <li>
            <a routerLink="/product">
                 <span class="ti-book"></span>
                  <span>Manager Product</span> 
              </a>
        </li>
        <li>
          <a routerLink="/category">
               <span class="ti-book"></span>
                <span>Category</span> 
            </a>
      </li>
        <li>
          <a routerLink="/login">
            
               <span class="fas fa-power-off" ></span>
                <span>logout</span> 
            </a>
      </li>
         
   
 
 
         
        </ul>
       </div>
  </div>
  
  <div class="main-content">
     <header>
      <div class="search-wrapper">
        <span class="ti-search"></span>
        <input type="search" placeholder="Search">
      </div>
  <!-- icon ala ymin maa taswira -->
      <div class="social-icons">
        

            <div></div>

     </div>
     </header>

     
  </div>