@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
  }
  
  @keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
  }
  
  .elementor-widget-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  }
  
  .text-container {
    flex: 1;
    animation: slideInFromLeft 1s ease-out forwards;
    margin-left: 3%;
  
  }
  
  .image-container {
    flex: 1;
    animation: slideInFromRight 1s ease-out forwards;
    margin-left: 30%;
 
  }
  .description {
    
    text-align: center;
  }
  
  .image-container1 {
    flex: 1;
    animation: slideInFromRight 1s ease-out forwards;
    margin-left: 10%;
   
 
  }
  .description1 {
    
    text-align: center;
  }
  
  
  
  
  .button {
    padding: 10px 20px;
    background-color: #6f7172;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #0f0f0f;
    color: white;
  }
  

  .flex-container {
    display: flex;
}

.text-container2 {
    flex: 1;
    animation: slideInFromLeft 1s ease-out forwards;
    margin-left: 3%;
    margin-top: 10%;
}

.image-container2 {
    flex: 1;
    animation: slideInFromRight 1s ease-out forwards;
    margin-left: 3%;
}

.description2 {
    margin-top: 5%;
    text-align: center;
    color: rgb(2, 26, 158);
    font-weight: bold;
}


.description3 {
    margin-top: 5%;
    text-align: center;
    color: rgb(2, 26, 158);
    font-weight: bold;
}
.description4 {
    margin-top: 5%;
   margin-left: 10%;
    color: rgb(2, 26, 158);
    font-weight: bold;
}




.map {
 
    background-size: cover;
    width: 100%;
    height: 500px; /* Adjust height as needed */
    position: relative;
    margin-left: 18%;
}

.btn {
    margin-top: 10%;
    padding: 15px 20px;
    background-color: #6f7172;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  width: 30%;
 
    box-sizing: border-box;
}

.btn:hover {
    background-color: #0f0f0f;
    color: white;
  }
.horizontal {
   
    margin-top: 2%;
}
.vertical {
    margin-top: 2%;
    flex-direction: column;
}


.single-how-works{
    margin-left: 2%;
    text-align: center;
    padding:20px 40px;
    border-radius: 3px;
    box-shadow: 0 0px 5px rgba(71,71,71,.2);
    margin-bottom: 30px;
    -webkit-transition: .3s linear; 
    -moz-transition:.3s linear; 
    -ms-transition:.3s linear; 
    -o-transition:.3s linear;
    transition: .3s linear;
  }
  
  .single-how-works-icon {
    display: inline-block;
    color: #50616c;
    width: 80px;
    height: 80px;
    line-height: 80px;
    background: #eef2f6;
    border-radius: 50%;
  }
  .single-how-works h2 a {
    font-size:  18px;
    margin: 35px 0 20px;
  }
  .single-how-works h2 a span {text-transform:  lowercase;}
  .single-how-works p {margin-bottom: 25px;text-transform: initial;}
  
  .single-how-works-icon [class^="flaticon-"]:before,.single-how-works-icon [class*=" flaticon-"]:before,.single-how-works-icon [class^="flaticon-"]:after,.single-how-works-icon [class*=" flaticon-"]:after {font-size: 35px;}
  .single-how-works:hover .single-how-works-icon [class^="flaticon-"]:before,.single-how-works:hover .single-how-works-icon [class*=" flaticon-"]:before,.single-how-works:hover .single-how-works-icon [class^="flaticon-"]:after,.single-how-works:hover .single-how-works-icon [class*=" flaticon-"]:after {color:#ff545a;}

  
  .welcome-hero-btn.how-work-btn {
    display: inline-block;
    margin: 0;
    width: 100px;
    height: 35px;
    font-size: 12px;
    background: transparent;
    color: #767f86;
    border: 1px solid #d3d6d9;
    border-radius: 3px;
  }
  
  .single-how-works:hover h2 a,.single-how-works:hover p{color: #fff;}
  .single-how-works:hover .single-how-works-icon{background: #fff;}
  .single-how-works:hover .welcome-hero-btn.how-work-btn{background: #fff;color: #caa6a7;}
  .single-how-works:hover{box-shadow: 0 0px 10px rgba(71,71,71,.4);background: #24262b6b;}
  
  .single-how-works {
    
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer les éléments horizontalement */
    text-align: center; /* Centrer le texte */
  }
  
  .single-how-works-image {
    margin-bottom: 10px; /* Espacement entre l'image et le texte */
  }
  .row {
    display: flex;
    flex-wrap: wrap;
}

.col-md-4 {
    flex: 1 0 50%; /* Two columns per row for medium devices */
    max-width: 50%;
}

@media (max-width: 768px) {
    .col-md-4 {
        flex: 1 0 100%; /* One column per row for small devices */
        max-width: 100%;
    }
}



/** portfolio **/

.portfolio {
    padding-top: 90px;
    padding-bottom: 90px;
    background: #fff;
  }
  
  .portfolio .titlepage::before {
    right: inherit;
    border: #2e2f34 solid 5px;
    left: 15px;
  }
  
  .portfolio_main {
    margin-bottom: 30px;
    transition: ease-in all 0.5s;
  }
  
  .portfolio_main figure {
    margin: 0;
    position: relative;
    overflow: hidden;
  }
  
  #ho_nf:hover {
    box-shadow: 3px 0 20px rgba(30, 30, 30, 0.31);
    transition: ease-in all 0.5s;
  }
  
  #ho_nf:hover .portfolio_text {
    height: 240px;
    transition: ease-in all 0.5s;
    padding: 40px 40px;
  }
  
  #ho_nf:hover .li_icon {
    margin-top: -65px;
    transition: ease-in all 0.7s;
  }
  
  .portfolio_text {
    cursor: pointer;
    position: absolute;
    transition: ease-in all 0.5s;
    bottom: 0;
    height: 0;
    background: #fff;
    overflow: initial;
  }
  
  .li_icon {
    display: flex;
    transition: ease-in all 0.7s;
    z-index: 99999999999999999999999;
    position: absolute;
  }
  
  .li_icon a {
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3a404e;
    box-shadow: 3px 0 9px rgba(30, 30, 30, 0.09);
  }
  
  .li_icon a:hover {
    background: #0f1012;
    color: #fff;
  }
  
  .portfolio_text h3 {
    color: #0c0c0d;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    padding-bottom: 15px;
  }
  
  .portfolio_text p {
    color: #031330;
    font-size: 17px;
    line-height: 30px;
    padding-bottom: 15px;
  }
  
  .portfolio .read_more {
    margin: 0 auto;
    display: block;
    background: #252525;
    margin-top: 30px;
  }
  
  .portfolio .read_more:hover {
    background: #464646c7;
  }
  
  
  /* end portfolio */