<div class="description2">
    <img src="../../assets/tarb.png" style="width: 80px; border-radius: 30px; "  class="spacer">
    <h2>CAMPUS PLACEMENT DRIVE</h2>
</div>


<div class="description3">
    <img src="../../assets/flesh.png" style="width: 80px; border-radius: 30px; "  class="spacer">
    <h3>NOIDA INTERNATIONAL UNIVERSITY</h3>
</div>

<div class="img-container">
    <img src="../../assets/i1.png" alt="Image 1">
    <img src="../../assets/i2.png" alt="Image 2">
    <img src="../../assets/i3.png" alt="Image 3">
    <img src="../../assets/i4.png" alt="Image 4">
    <img src="../../assets/i5.png" alt="Image 5">
   
    
</div>


<div class="description2">
    <img src="../../assets/drap.png" style="width: 80px; border-radius: 30px; "  class="spacer">
    <h2>
        Happy Independence Day 2023</h2>
</div>


<div class="elementor-widget-container" >
   
    <div class="text-container">
        <h4 class="elementor-heading-title elementor-size-default">- Indian Independence Day</h4>
        <p>Celebrating the spirit of freedom and unity, the Indian Independence Day event was a resounding success. On this momentous occasion, the air was filled with patriotism and pride as people from all walks of life came together to honor the nation’s journey to independence. The event featured captivating cultural performances, inspiring speeches, and a vibrant parade showcasing India’s rich diversity. The unfurling of the tricolor flag symbolized the triumph of liberty, while the echoes of the national anthem resonated with collective enthusiasm. Families, friends, and communities bonded over a shared love for the country, making this celebration a true reflection of India’s unity in diversity. As the event concluded on a high note, it left everyone with a renewed sense of national pride and a deep appreciation for the sacrifices made by the freedom fighters.</p>
    </div>
    <div class="image-container">
        <iframe width="612" height="500" src="https://www.youtube.com/embed/vHYDTmg30bw" frameborder="0" allowfullscreen></iframe>
    </div>
    </div>
