<div class="elementor-widget-container" style="background-color: #87cfeb1e;">
    <div class="flex-container">
        <div class="image-container2" style="margin-top: 3%;">
            <img fetchpriority="high" decoding="async"height="300" src="../../assets/yed.png" style="margin-top: 10%; margin-left: 15%;">
        </div>
        <div class="text-container2" >
            <h2 class="elementor-heading-title elementor-size-default" style="color: blue;">
                WHO WE ARE ?</h2>
               <h3 >YOUR TRUSTED SOURCE IN IT SERVICES & SUPPORT
               </h3>
                <h3 style="margin-top: 2%;">
                    We Help IT Companies Scale Engineering Capacity</h3>
            <p style="margin-top: 2%;">Technotrust Solutions is a leading provider of Cloud Computing and co-location services. We have a wide range of experience in delivering these services to businesses of all sizes. Our team of experts can help you to select the right service for your business, and ensure that it is delivered effectively and efficiently. We are committed to providing the highest quality service possible, and to ensuring that our customers are satisfied with the results. Contact us today to learn more about our services, or to discuss your specific needs.</p>
        </div>
    </div>
</div>

<div class="description">
    <h4>Our number one priority is to provide the best possible service to our clients.
        We take the time to get to know your business and understand your specific needs in order to provide a tailored solution.</h4>
</div>




<!--/.section-header-->
<div class="works-content">
<div class="row">
    <div class="col-md-4 col-sm-6">
        <div class="single-how-works">
            <i><img src="../../assets/s1.png" style=" width: 80px; border-radius: 20px; margin-left: 3%;"/></i>
           
            <h4>OUR MISSION</h4>
            <p>
                Technotrust Solutions mission is to make IT work for business. Technotrust Solutions achieves this by providing reliable, innovative and cost-effective technology solutions that enable businesses to increase productivity, improve customer service and sharpen their competitive edge.
            </p>
            
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="single-how-works">
            <i><img src="../../assets/s2.png" style=" width: 80px; border-radius: 20px; margin-left: 3%;"/></i>
            <h4>OUR VALUES</h4>
            <p>
                Our values are the guiding principles upon which Technotrust Solutions was founded and how we strive to conduct our business on a daily basis. Values establish our view of the world as we shape the future. They determine how we treat each other.
            </p>
            
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="single-how-works">
            <i><img src="../../assets/s3.png" style=" width: 80px; border-radius: 20px; margin-left: 3%;"/></i>
            <h4>OUR APPROACH & CULTURE</h4>
            <p>
                
                Our drive for exceptional service delivery is built on the belief that we are nothing if you are not satisfied with us. Our passion for helping you achieve your goals, no matter what, is what truly differentiates us from our competito
            </p>
            
        </div>
    </div>


    <!-- chose -->
<div class="chose">
    <div class="container">
        <div class="row d_flex">
            <div class="col-md-12">
                <div class="titlepage text_align_left">
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="chose_box">
                    <i><img src="../../assets/y.png" style=" width: 80px; border-radius: 20px; margin-left: 10%;"/></i><br><br>
                    <strong style="margin-left: 8%; margin-top: 1%;">100+</strong>
                    <p>Happy Clients </p>
                    
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="chose_box">
                    <i><img src="../../assets/135.png" style=" width: 80px; border-radius: 20px; margin-left: 10%;"/></i><br><br>
                    <strong style="margin-left: 8%; margin-top: 1%;">135  +</strong>
                    <p>Finished Projects                    </p>
                    
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="chose_box">
                    <i><img src="../../assets/100.png" style=" width: 80px; border-radius: 20px; margin-left: 10%;"/></i><br><br>
                    <strong style="margin-left: 8%; margin-top: 1%;">100+</strong>
                    <p>Skilled Experts</p>
                    
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="chose_box">
                    <i><img src="../../assets/x.png" style=" width: 80px; border-radius: 20px; margin-left: 10%;"/></i><br><br>
                    <strong style="margin-left: 8%; margin-top: 1%;">100%</strong>
                    <p>Satisfaction </p>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end chose -->
 <div class="flex-container">
    <div class="image-container2" style="margin-top: 3%;">
        <img fetchpriority="high" decoding="async" width="1300"  height="500" src="../../assets/growing.png" style="margin-right: 40%;"  >
    </div>
 </div>

 <div class="elementor-widget-container" style="margin-right: 18%;" >
    <div class="flex-container"  style="margin-right: 18%;" >
        <div class="image-container2" style="margin-top: 3%;">
            <img fetchpriority="high" decoding="async"height="600"  src="../../assets/his.png" style=" margin-left: 1%;">
        </div>
        <div class="text-container2" >
            <h2 class="elementor-heading-title elementor-size-default" style="color: blue;">
                OUR HISTORY</h2>
               <h3 >Development History of Technotrust Solutions
               </h3>
        </div>
    </div>
</div>

 <div class="elementor-widget-container1" >
    <div class="image-container1">
        <img loading="lazy" decoding="async"  src="https://technotrustsolutions.com/wp-content/uploads/2023/05/scott-graham-5fNmWej4tAA-unsplash-1024x683.jpg" style="width: 600px; height: 500px; margin-left: 1%; margin-top: 10%; " class="attachment-large size-large wp-image-6098" alt="technotrust" srcset="https://technotrustsolutions.com/wp-content/uploads/2023/05/scott-graham-5fNmWej4tAA-unsplash-1024x683.jpg 1024w, https://technotrustsolutions.com/wp-content/uploads/2023/05/scott-graham-5fNmWej4tAA-unsplash-300x200.jpg 300w, https://technotrustsolutions.com/wp-content/uploads/2023/05/scott-graham-5fNmWej4tAA-unsplash-768x513.jpg 768w, https://technotrustsolutions.com/wp-content/uploads/2023/05/scott-graham-5fNmWej4tAA-unsplash-1536x1025.jpg 1536w, https://technotrustsolutions.com/wp-content/uploads/2023/05/scott-graham-5fNmWej4tAA-unsplash-2048x1367.jpg 2048w" sizes="(max-width: 1024px) 100vw, 1024px">    </div>
    <div class="text-container1">
        <h1 class="elementor-heading-title elementor-size-default1" style="margin-left: 1%;"><strong>WHY CHOOSE US?</strong></h1>
        <h2 style="margin-top: 3%;margin-left: 1%;">We have been operational since 2017 and have a wealth of experience in the IT industry.</h2>
        <p style="margin-top: 3%;margin-left: 1%;">We have a proven track record in delivering quality services and products to our clients. Our team of experts are always on hand to provide advice and support when you need it. We’re here to help you get the most out of your technology investment and make sure you’re always ahead of the curve. When it comes to choosing a partner for your business, we believe that TechnoTrust is the best choice.</p>
        <button  class="button pulse-button"style="margin-top: 3%;margin-left: 8%;">Contact Us</button>
    </div>
</div>



    

    <div class="description4" style="margin-left: 1.5%; margin-right: 50%; margin-top: 2%;" >
        <h2><strong>Know More...</strong></h2>
  </div>
      <div style="margin-left: 1%;; margin-top: 1%; color: black;" >
                  
          <p>
            Welcome to the official website of <a href="https://way2opportunity.com/" class="custom-link">Way2opportunity.com</a> , a brand owned and operated by Technotrust Solutions Pvt. Ltd. Here, you can explore the various services and solutions on Staffing and Placement offered by Way2opportunity.com, aligned with the expertise and experience of Technotrust Solutions.         </p>
          
      
  
  </div>


  <div class="description4" style="margin-left: 4%; margin-right: 50%; margin-top: 2%;" >
    <h2><strong>PARTNER</strong></h2>
</div>
  <div style="margin-left: 1%;; margin-top: 1%; color: black;" >
              
    <img fetchpriority="high" decoding="async"height="400"  src="../../assets/2.png" >
      
  

</div>